<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>G2HomeServlet</servlet-name>
        <servlet-class>controller.G2HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerServlet</servlet-name>
        <servlet-class>controller.OwnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAccountServlet</servlet-name>
        <servlet-class>controller.ShowAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRoomTypeServlet</servlet-name>
        <servlet-class>controller.ShowRoomTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDiscountServlet</servlet-name>
        <servlet-class>controller.ShowDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRoomToEditServlet</servlet-name>
        <servlet-class>controller.LoadRoomToEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomTypeServlet</servlet-name>
        <servlet-class>controller.EditRoomTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewRoomTypeServlet</servlet-name>
        <servlet-class>controller.AddNewRoomTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewDiscountServlet</servlet-name>
        <servlet-class>controller.AddNewDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRoomCustomerServlet</servlet-name>
        <servlet-class>controller.ShowRoomCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRoomToBookServlet</servlet-name>
        <servlet-class>controller.LoadRoomToBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingRoomServlet</servlet-name>
        <servlet-class>controller.BookingRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmInformationServlet</servlet-name>
        <servlet-class>controller.ConfirmInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingServlet</servlet-name>
        <servlet-class>controller.ShowBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRoomValidServlet</servlet-name>
        <servlet-class>controller.CheckRoomValidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingRepceptionistServlet</servlet-name>
        <servlet-class>controller.ShowBookingRepceptionistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookingDetailsServlet</servlet-name>
        <servlet-class>controller.LoadBookingDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controller.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowContactServlet</servlet-name>
        <servlet-class>controller.ShowContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateContactServlet</servlet-name>
        <servlet-class>controller.UpdateContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookingServlet</servlet-name>
        <servlet-class>controller.SearchBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingStatusServlet</servlet-name>
        <servlet-class>controller.UpdateBookingStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingCustomerServlet</servlet-name>
        <servlet-class>controller.ShowBookingCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFeedback</servlet-name>
        <servlet-class>controller.SearchFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterFeedback</servlet-name>
        <servlet-class>controller.FilterFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyFeedbackServlet</servlet-name>
        <servlet-class>controller.ReplyFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFeedbackServlet</servlet-name>
        <servlet-class>controller.LoadFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRevenueServlet</servlet-name>
        <servlet-class>controller.owner.LoadRevenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControl</servlet-name>
        <servlet-class>controller.ProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingControl</servlet-name>
        <servlet-class>controller.CancelBookingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackAdmin</servlet-name>
        <servlet-class>controller.feedbackAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFeeback</servlet-name>
        <servlet-class>controller.deleteFeeback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassController</servlet-name>
        <servlet-class>controller.ForgotPassController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>G2HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerServlet</servlet-name>
        <url-pattern>/owner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAccountServlet</servlet-name>
        <url-pattern>/showAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRoomTypeServlet</servlet-name>
        <url-pattern>/showRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDiscountServlet</servlet-name>
        <url-pattern>/showDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRoomToEditServlet</servlet-name>
        <url-pattern>/loadRoomToEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomTypeServlet</servlet-name>
        <url-pattern>/editRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewRoomTypeServlet</servlet-name>
        <url-pattern>/addNewRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewDiscountServlet</servlet-name>
        <url-pattern>/addNewDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRoomCustomerServlet</servlet-name>
        <url-pattern>/showRoomCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRoomToBookServlet</servlet-name>
        <url-pattern>/loadRoomToBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingRoomServlet</servlet-name>
        <url-pattern>/bookingRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmInformationServlet</servlet-name>
        <url-pattern>/confirmInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingServlet</servlet-name>
        <url-pattern>/showBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRoomValidServlet</servlet-name>
        <url-pattern>/checkRoomValid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingRepceptionistServlet</servlet-name>
        <url-pattern>/showBookingRepceptionist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookingDetailsServlet</servlet-name>
        <url-pattern>/loadBookingDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowContactServlet</servlet-name>
        <url-pattern>/showContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContactServlet</servlet-name>
        <url-pattern>/updateContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookingServlet</servlet-name>
        <url-pattern>/searchBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingStatusServlet</servlet-name>
        <url-pattern>/updateBookingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingCustomerServlet</servlet-name>
        <url-pattern>/showBookingCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFeedback</servlet-name>
        <url-pattern>/searchFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterFeedback</servlet-name>
        <url-pattern>/filterFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyFeedbackServlet</servlet-name>
        <url-pattern>/ReplyFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFeedbackServlet</servlet-name>
        <url-pattern>/loadFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRevenueServlet</servlet-name>
        <url-pattern>/loadRevenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControl</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingControl</servlet-name>
        <url-pattern>/CancelBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackAdmin</servlet-name>
        <url-pattern>/feedbackAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFeeback</servlet-name>
        <url-pattern>/deleteFeeback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassController</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>customer_home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
